@model IEnumerable<IE_Project.Models.Species>

<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <style>
        .cntr {
            position: center;
            width: 1200px;
            margin: 0 auto;
        }

        .aParent div {
            float: left;
            clear: none;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Find species</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 10px;">
            @using (Html.BeginForm("Index", "Species", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <div style="margin:10px">
                        <h3>Find species here:</h3>
                    </div>
                    <div class="form-group aParent cntr" style="padding-left:500px;">
                        @Html.Label(" ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBox("searchTxt", null, new { @class = "form-control cntr", @placeholder = "Search species here e.g. Golden Sun Moth", @style = "max-width: 100%" })
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
                            <br>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row ">
            <div class="col-md-12">
                <table class="table table-striped table table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.habitant)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.habitant)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <!--uncomment this part if you want to CURD-->
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.speciesId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.speciesId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.speciesId })
                                </td>*@
                            <!--uncomment this part if you want to CURD-->
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
</body>
</html>

